---

---

<footer class="py-4 px4 text-xs text-center slide-enter-content pb32">
	<p style="--enter-stage: 10 !important;">
		<a href="https://pt-bengdrim.betteruptime.com/" target="_blank" rel="external nofollow noopener noreferrer" class="underline">X</a>  2025-PRESENT © Fuji | <a href="/privacy " class="underline">Privacy Policy</a> | <a href="/disclaimer" class="underline">Disclaimer</a> | <a href="https://pt-bengdrim.betteruptime.com/" target="_blank" rel="external nofollow noopener noreferrer" class="underline">Status</a>
	</p>
	<p style="--enter-stage: 11 !important;">
		Produdly created by <a href="https://github.com/fujitime" target="_blank" rel="external nofollow noopener noreferrer" class="underline">Fujitime</a> and Powered by <a href="https://github.com/gxanshu/astro-decap-cms-starter?tab=readme-ov-file" target="_blank" rel="external nofollow noopener noreferrer" class="underline">Astro</a>, <a href="https://decapcms.org/" target="_blank" rel="external nofollow noopener noreferrer" class="underline">DecapCms</a> 
	</p>
</footer>
